@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Entertainer

<div class="container mt-4">
    <h1>Add New Entertainer</h1>

    <form asp-controller="Home" asp-action="AddEntertainer" method="post" class="mt-3">
        <input type="hidden" asp-for="EntertainerId" />

        <div class="form-group">
            <label asp-for="EntStageName">Stage Name:</label>
            <input asp-for="EntStageName" class="form-control" required />
        </div>

        <div class="form-group">
            <label asp-for="EntSsn">SSN:</label>
            <input asp-for="EntSsn" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntStreetAddress">Street Address:</label>
            <input asp-for="EntStreetAddress" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntCity">City:</label>
            <input asp-for="EntCity" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntState">State:</label>
            <input asp-for="EntState" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntZipCode">Zip Code:</label>
            <input asp-for="EntZipCode" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntPhoneNumber">Phone Number:</label>
            <input asp-for="EntPhoneNumber" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntWebPage">Web Page:</label>
            <input asp-for="EntWebPage" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EntEmailAddress">Email Address:</label>
            <input asp-for="EntEmailAddress" class="form-control" type="email" />
        </div>

        <div class="form-group">
            <label asp-for="DateEntered">Date Entered:</label>
            <input asp-for="DateEntered" class="form-control" type="date" />
        </div>

        <button type="submit" class="btn btn-success">Submit Entertainer</button>
    </form>
</div>
