@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="jumbotron text-center bg-primary text-white">
    <h1>Welcome to Our Entertainment Agency!</h1>
    <p>This is your one-stop shop to find the best entertainers in your area.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Find the Perfect Entertainer for Your Occasion</h2>
            <p>Follow the link below to explore our directory of talented professionals.</p>
            <a class="btn btn-success btn-lg" asp-action="Entertainers">View entertainers</a>
        </div>
    </div>
</div>




